blockquote {
	padding: 0;
	position: relative;
	margin: $global--spacing-vertical 0 $global--spacing-vertical $global--spacing-horizontal;

	> * {
		margin-top: $global--spacing-unit;
		margin-bottom: $global--spacing-unit;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		letter-spacing: $heading--letter-spacing-h4;
		font-family: $global--font-secondary;
		font-size: $global--font-size-md;
		font-style: normal;
		font-weight: 700;
		line-height: $global--line-height-body;
	}

	cite,
	footer {
		font-weight: normal;
		color: $global--color-primary;
		font-size: $global--font-size-xs;
		letter-spacing: $global--letter-spacing;
	}

	&.alignleft,
	&.alignright {

		padding-left: inherit;

		p {
			font-size: $heading--font-size-h5;
			max-width: inherit;
			width: inherit;
		}

		cite,
		footer {
			font-size: $global--font-size-xs;
			letter-spacing: $global--letter-spacing;
		}
	}

	strong {
		font-weight: bolder;
	}

	&:before {
		content: "\201C";
		font-size: $global--font-size-md;
		line-height: $global--line-height-body;
		position: absolute;
		left: calc(-0.5 * #{$global--spacing-horizontal});
	}

	.wp-block-quote__citation,
	cite,
	footer {
		color: $global--color-primary;
		font-size: $global--font-size-xs;
		font-style: normal;
	}

	@include media(mobile-only) {
		padding-left: calc(0.5 * #{$global--spacing-horizontal});

		&:before {
			left: 0;
		}
	}
}
