input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
.site textarea {
	border: $form--border-width solid $form--border-color;
	border-radius: $form--border-radius;
	color: $form--color-text;
	line-height: $global--line-height-body;
	padding: $form--spacing-unit;
	// Gives a little more space for the outline offset.
	margin: 0 2px;
	max-width: 100%;

	&:focus {
		color: $form--color-text;
		outline-offset: 2px;
		outline: 2px dotted $form--border-color;
	}

	&:disabled {
		opacity: 0.7;
	}
}

// Reset the negative offset from normalize to make the thicker "border" work on focus.
input[type="search"] {

	&:focus {
		outline-offset: -7px;
	}
}

input[type="color"] {
	padding: calc(#{$form--spacing-unit} / 2);
	height: calc(4 * #{$form--spacing-unit});
}

input[type="email"],
input[type="url"] {

	/*rtl:ignore*/
	direction: ltr;
}

select {
	border: $form--border-width solid $form--border-color;
	color: $form--color-text;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	line-height: $global--line-height-body;
	padding: $form--spacing-unit calc(3 * #{$form--spacing-unit}) $form--spacing-unit $form--spacing-unit;
	background: $global--color-white url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat; // stylelint-disable-line function-url-quotes
	background-position: right $form--spacing-unit top 60%;

	&:focus {
		outline-offset: 2px;
		outline: 2px dotted $form--border-color;
	}
}

textarea {
	width: 100%;
}

label {
	font-size: $form--font-size;
	font-weight: $form--label-weight;
	margin-bottom: calc(#{$global--spacing-vertical} / 3);
}

/**
https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/
https://codepen.io/aaroniker/pen/ZEYoxEY by Aaron Iker.
License: MIT.
*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type="checkbox"],
	input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		position: relative;
		width: 25px;
		height: 25px;
		border: $form--border-width solid $form--border-color;
		background: $global--color-white;

		&:disabled {
			opacity: 0.7;
		}
	}

	input[type="checkbox"] {

		&:focus {
			outline-offset: 2px;
			outline: 2px dotted $form--border-color;
		}

		&:after {
			content: "";
			opacity: 0;
			display: block;
			left: 5px;
			top: 2px;
			position: absolute;
			width: 7px;
			height: 13px;
			border: 3px solid $form--color-text;
			border-top: 0;
			border-left: 0;
			transform: rotate(30deg);
		}

		&:checked {
			color: $form--color-text;

			&:after {
				opacity: 1;
			}
		}
	}

	input[type="radio"] {
		border-radius: 50%;

		&:focus {
			outline-offset: 2px;
			outline: 2px dotted $form--border-color;
		}

		&:after {
			content: "";
			opacity: 0;
			display: block;
			left: 3px;
			top: 3px;
			position: absolute;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background: $form--color-text;
		}

		&:checked {
			border: 4px solid $form--border-color;

			&:after {
				opacity: 1;
			}

			// Focus style for checked radio buttons.
			&:focus {
				outline-offset: 4px;
				outline: 2px dotted $form--border-color;
			}
		}
	}
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	display: inline-block;
	padding-left: 10px;
	font-size: $global--font-size-xs;
	vertical-align: top;
}

/**
 * https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

	input[type="range"] {
		-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
		width: 100%; /* Specific width is required for Firefox. */
		height: 6px;
		background: $form--color-ranged;
		border-radius: 6px;
		outline-offset: 10px;

		&:disabled {
			opacity: 0.7;
		}
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: 3px solid $form--color-ranged;
		height: 44px;
		width: 44px;
		border-radius: 50%;
		background: $global--color-background;
		cursor: pointer;
	}

	input[type="range"]::-moz-range-thumb {
		border: 3px solid $form--color-ranged;
		height: 44px;
		width: 44px;
		border-radius: 50%;
		background: $global--color-background;
		cursor: pointer;
		box-sizing: border-box;
	}
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 6px;
	border-radius: 6px;
	border-width: 19px 0;
	border-color: $global--color-background;
	background: transparent;
	color: transparent;
	cursor: pointer;
}

input[type="range"]::-ms-fill-upper {
	background: $form--color-ranged;
	border-radius: 6px;
}

input[type="range"]::-ms-fill-lower {
	background: $form--color-ranged;
	border-radius: 6px;
}

input[type="range"]::-ms-thumb {
	border: 3px solid $form--color-ranged;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	background: $global--color-background;
	cursor: pointer;
}

fieldset {
	display: grid;
	border-color: $global--color-secondary;
	padding: $global--spacing-horizontal;

	legend {
		font-size: $global--font-size-lg;
	}

	input {

		&[type="submit"] {
			max-width: max-content;
		}

		&:not([type="submit"]) {
			margin-bottom: $global--spacing-unit;
		}

		&[type="radio"],
		&[type="checkbox"] {
			margin-bottom: 0;
		}

		&[type="radio"] + label,
		&[type="checkbox"] + label {
			font-size: $form--font-size;
			padding-left: 0;
			margin-bottom: $global--spacing-unit;
		}
	}
}

::-moz-placeholder { // Firefox 19+
	opacity: 1;
}

.post-password-message {
	font-size: $global--font-size-lg;
}

.post-password-form {
	display: flex;
	flex-wrap: wrap;

	&__label {
		width: 100%;
		margin-bottom: 0;
	}

	input[type="password"] {
		flex-grow: 1;
		margin-top: calc(#{$global--spacing-vertical} / 3);
		margin-right: calc(0.66 * #{$global--spacing-horizontal});
	}

	&__submit {
		margin-top: calc(#{$global--spacing-vertical} / 3);
		@include media(tablet) {
			margin-left: calc(0.4 * #{$global--spacing-horizontal});
		}
	}
}

.grecaptcha-badge {
	visibility: hidden;
}
