select {
	border: $form--border-width solid $form--border-color;
	border-radius: $form--border-radius;
	color: $form--color-text;
	font-size: $form--font-size;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding: $form--spacing-unit calc(3 * #{$form--spacing-unit}) $form--spacing-unit $form--spacing-unit;
	background: $global--color-white url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat; // stylelint-disable-line function-url-quotes
	background-position: right $form--spacing-unit top 60%;
}
