/* Variables */

/* Default Color ------------------------------------- */
$white:     #fff !default;
$black:     #000 !default;
$grey:      #979797 !default;
$red:       #a6554d !default;
$blue:       #2536f4 !default;

/* Default Breakpoints ------------------------------- */
$br-xs:     0;
$br-s:      600;
$br-m:      960;
$br-l:      1280;
$br-hd:     1440;
$br-xl:     1920;

/* Default Wp Theme Support -------------------------- */
$wide-width:			120rem;
$thin-width: 			58rem;
$section-thin: 		$thin-width;
$section-small: 	80rem;
$section-medium: 	100rem;

/* Config file Injection ----------------------------- */
@function get-font-size($config-var, $key) {
	$result: null;

	$result: map-get($config-var, $key);
	// @debug($result);

	@if type-of($result) == "map" {
		$result: map-get($result, size);
	}

	@return $result;
}

@function get-rem($number) {
	@return #{($number / 10)}rem;
}

$themeColor: $theme-color;
$breakpoints: $theme-breakpoints;
$editorFontSize: $theme-font-size;

/* Color Config ------------------------------- */
$black:     map_get($themeColor, black); /* stylelint-disable-line */
$white:     map_get($themeColor, white); /* stylelint-disable-line */
$white-alt:     map_get($themeColor, white-alt); /* stylelint-disable-line */
$grey:      map_get($themeColor, grey); /* stylelint-disable-line */
$grey-alt:      map_get($themeColor, grey-alt); /* stylelint-disable-line */
$lightgrey:      map_get($themeColor, lightgrey); /* stylelint-disable-line */
$red:       map_get($themeColor, red); /* stylelint-disable-line */
$green:     map_get($themeColor, green); /* stylelint-disable-line */
$blue:     map_get($themeColor, blue); /* stylelint-disable-line */
$yellow:     map_get($themeColor, yellow); /* stylelint-disable-line */


/* Breakpoints Config ------------------------------- */
$br-xs:     #{map_get($breakpoints, xs)}px;
$br-s:      #{map_get($breakpoints, s)}px;
$br-m:      #{map_get($breakpoints, m)}px;
$br-l:      #{map_get($breakpoints, l)}px;
$br-hd:      #{map_get($breakpoints, hd)}px;
$br-xl:     #{map_get($breakpoints, xl)}px;


/* Font Size Theme Config --------------------- */
$font-size-base:					get-rem(get-font-size($theme-font-size, base));
$font-size-xs:						get-rem(get-font-size($theme-font-size, xs));
$font-size-sm:						get-rem(get-font-size($theme-font-size, sm));
$font-size-md:						get-rem(get-font-size($theme-font-size, md));
$font-size-lg:						get-rem(get-font-size($theme-font-size, lg));
$font-size-xl:						get-rem(get-font-size($theme-font-size, xl));
$font-size-xxl:						get-rem(get-font-size($theme-font-size, xxl));
$font-size-xxxl:					get-rem(get-font-size($theme-font-size, xxxl));
$font-size-page-title:		get-rem(get-font-size($theme-font-size, page-title));


$font-primary:          "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
$font-secondary:        "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif;

$baseline-unit: 10px;

/* Font Family */
$global--font-primary: $font-primary;
$global--font-secondary: $font-secondary;

/* Font Size */
$global--font-size-base: $font-size-base;
$global--font-size-xs: $font-size-xs;
$global--font-size-sm: $font-size-sm;
$global--font-size-md: $font-size-md;
$global--font-size-lg: $font-size-lg;
$global--font-size-xl: $font-size-xl;
$global--font-size-xxl: $font-size-xxl;
$global--font-size-xxxl: $font-size-xxxl;
$global--font-size-page-title: $font-size-page-title;
$global--letter-spacing: normal;

/* Line Height */
$global--line-height-body: 1.7;
$global--line-height-heading: 1.3;
$global--line-height-page-title: 1.1;

/* Headings */
$heading--font-family: $global--font-primary;

$heading--font-size-h6: $global--font-size-xs;
$heading--font-size-h5: $global--font-size-sm;
$heading--font-size-h4: $global--font-size-lg;
$heading--font-size-h3: calc(1.25 * #{$global--font-size-lg});
$heading--font-size-h2: $global--font-size-xl;
$heading--font-size-h1: $global--font-size-page-title;

$heading--letter-spacing-h6: 0.05em;
$heading--letter-spacing-h5: 0.05em;
$heading--letter-spacing-h4: $global--letter-spacing;
$heading--letter-spacing-h3: $global--letter-spacing;
$heading--letter-spacing-h2: $global--letter-spacing;
$heading--letter-spacing-h1: $global--letter-spacing;

$heading--line-height-h6: $global--line-height-heading;
$heading--line-height-h5: $global--line-height-heading;
$heading--line-height-h4: $global--line-height-heading;
$heading--line-height-h3: $global--line-height-heading;
$heading--line-height-h2: $global--line-height-heading;
$heading--line-height-h1: $global--line-height-page-title;

$heading--font-weight: normal;
$heading--font-weight-page-title: 300;
$heading--font-weight-strong: 600;

/* Colors */
$global--color-black: $black;
$global--color-gray-alt: $grey-alt;
$global--color-gray: $grey;
$global--color-light-gray: $lightgrey;
$global--color-green: $green;
$global--color-blue: $blue;
$global--color-purple: #d1d1e4;
$global--color-red: $red;
$global--color-orange: #e4dad1;
$global--color-yellow: $yellow;
$global--color-white: $white;
$global--color-white-50: rgba(255, 255, 255, 0.5); // Used for disabled buttons
$global--color-white-90: rgba(255, 255, 255, 0.9); // Used in form fields.

$global--color-primary: $grey-alt; /* Body text color, site title, footer text color. */
$global--color-secondary: $grey; /* Headings */
$global--color-primary-hover: $global--color-primary;
$global--color-background: $green; /* Mint, default body background */
$global--color-border: $global--color-primary; /* Used for borders (separators) */

/* Spacing */
$global--spacing-unit: #{2 * $baseline-unit}; // 20px
$global--spacing-horizontal: #{2.5 * $baseline-unit}; // 25px
$global--spacing-vertical: #{3 * $baseline-unit}; // 30px.

/* Elevation */
$global--elevation: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);

/* Forms */
$form--font-family: $global--font-secondary;
$form--font-size: $global--font-size-sm;
$form--line-height: $global--line-height-body;
$form--color-text: $grey-alt; // Text color in input fields is always dark over light backgroun.
$form--color-ranged: $global--color-secondary;
$form--label-weight: 500;
$form--border-color: $global--color-secondary;
$form--border-width: 3px;
$form--border-radius: 0;
$form--spacing-unit: calc(0.5 * #{$global--spacing-unit});

/* Buttons */
// Colors
$button--color-text: $global--color-background;
$button--color-text-hover: $global--color-secondary;
$button--color-text-active: $global--color-secondary;
$button--color-background: $global--color-secondary;
$button--color-background-active: $global--color-background;
// Borders
$button--border-width: 3px;
// Spacing
$button--padding-vertical: 15px;
$button--padding-horizontal: calc(2 * #{$button--padding-vertical});

/* Header */
$branding--color-text: $global--color-primary;
$branding--color-link: $global--color-primary;
$branding--color-link-hover: $global--color-secondary;
$branding--title--font-family: $global--font-primary;
$branding--title--font-size: $global--font-size-lg;

$branding--logo--max-width: 300px;
$branding--logo--max-height: 100px;
$branding--logo--max-width-mobile: 96px;
$branding--logo--max-height-mobile: 96px;

/* Main navigation */
$primary-nav--font-size: $global--font-size-md;
$primary-nav--color-link: $global--color-primary;
$primary-nav--color-link-hover: $global--color-primary-hover;
$primary-nav--color-text: $global--color-primary;
$primary-nav--padding: calc(0.66 * #{$global--spacing-unit});
$primary-nav--border-color: $global--color-primary;


/* Admin-bar height */
$global--admin-bar--height: 0;


// // :root {

// // }

// .admin-bar {
// 	--global--admin-bar--height: 32px;

// 	@media only screen and (max-width: 782px) {
// 		--global--admin-bar--height: 46px;
// 	}
// }

// @media only screen and (min-width: 652px) { // Not using the mixin because it's compiled after this file
// 	:root {
// 		--global--font-size-xl: 2.5rem; // 40px / 16px
// 		--global--font-size-xxl: 6rem; // 96px / 16px
// 		--global--font-size-xxxl: 9rem; // 144px / 16px
// 		--heading--font-size-h3: 2rem; // 32px / 16px
// 		--heading--font-size-h2: 3rem; // 48px / 16px
// 	}
// }
