/* Variables */

/* Default Color ------------------------------------- */
$white:     #fff !default;
$black:     #000 !default;
$grey:      #979797 !default;
$red:       #a6554d !default;
$blue:       #2536f4 !default;

/* Default Breakpoints ------------------------------- */
$br-xs:     0;
$br-s:      600;
$br-m:      960;
$br-l:      1280;
$br-hd:     1440;
$br-xl:     1920;

/* Default Wp Theme Support -------------------------- */
$wide-width:			120rem;
$thin-width: 			58rem;
$section-thin: 		$thin-width;
$section-small: 	80rem;
$section-medium: 	100rem;

/* Config file Injection ----------------------------- */
$themeVariables: $variables;
$themeColor: map_get($themeVariables, color);
$breakpoints: map_get($themeVariables, breakpoints);
$editorFontSize: map_get($themeVariables, fontsize); /* stylelint-disable-line */

/* Color Config ------------------------------- */
$black:     map_get($themeColor, black); /* stylelint-disable-line */
$white:     map_get($themeColor, white); /* stylelint-disable-line */
$white-alt:     map_get($themeColor, white-alt); /* stylelint-disable-line */
$grey:      map_get($themeColor, grey); /* stylelint-disable-line */
$grey-alt:      map_get($themeColor, grey-alt); /* stylelint-disable-line */
$lightgrey:      map_get($themeColor, lightgrey); /* stylelint-disable-line */
$red:       map_get($themeColor, red); /* stylelint-disable-line */
$green:     map_get($themeColor, green); /* stylelint-disable-line */
$blue:     map_get($themeColor, blue); /* stylelint-disable-line */
$yellow:     map_get($themeColor, yellow); /* stylelint-disable-line */


/* Breakpoints Config ------------------------------- */
$br-xs:     #{map_get($breakpoints, xs)}px;
$br-s:      #{map_get($breakpoints, s)}px;
$br-m:      #{map_get($breakpoints, m)}px;
$br-l:      #{map_get($breakpoints, l)}px;
$br-hd:      #{map_get($breakpoints, hd)}px;
$br-xl:     #{map_get($breakpoints, xl)}px;

// $family-montserrat:         "Montserrat";
// $family-open_sans:     				"Open Sans";

$font-primary:          "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
$font-secondary:        "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif;

$baseline-unit: 10px;

/* Font Family */
$global--font-primary: $font-primary;
$global--font-secondary: $font-secondary;

/* Font Size */
$global--font-size-base: 1.25rem; // 20px / 16px
$global--font-size-xs: 1rem; // 16px / 16px
$global--font-size-sm: 1.125rem; // 18px / 16px
$global--font-size-md: 1.25rem; // 20px / 16px
$global--font-size-lg: 1.5rem; // 24px / 16px
$global--font-size-xl: 2.25rem; // 36px / 16px
$global--font-size-xxl: 4rem; // 64px / 16px
$global--font-size-xxxl: 5rem; // 80px / 16px
$global--font-size-page-title: $global--font-size-xxl;
$global--letter-spacing: normal;

/* Line Height */
$global--line-height-body: 1.7;
$global--line-height-heading: 1.3;
$global--line-height-page-title: 1.1;

/* Headings */
$heading--font-family: $global--font-primary;

$heading--font-size-h6: $global--font-size-xs;
$heading--font-size-h5: $global--font-size-sm;
$heading--font-size-h4: $global--font-size-lg;
$heading--font-size-h3: calc(1.25 * #{$global--font-size-lg});
$heading--font-size-h2: $global--font-size-xl;
$heading--font-size-h1: $global--font-size-page-title;

$heading--letter-spacing-h6: 0.05em;
$heading--letter-spacing-h5: 0.05em;
$heading--letter-spacing-h4: $global--letter-spacing;
$heading--letter-spacing-h3: $global--letter-spacing;
$heading--letter-spacing-h2: $global--letter-spacing;
$heading--letter-spacing-h1: $global--letter-spacing;

$heading--line-height-h6: $global--line-height-heading;
$heading--line-height-h5: $global--line-height-heading;
$heading--line-height-h4: $global--line-height-heading;
$heading--line-height-h3: $global--line-height-heading;
$heading--line-height-h2: $global--line-height-heading;
$heading--line-height-h1: $global--line-height-page-title;

$heading--font-weight: normal;
$heading--font-weight-page-title: 300;
$heading--font-weight-strong: 600;

/* Block: Latest posts */
$latest-posts--title-font-family: $heading--font-family;
$latest-posts--title-font-size: $heading--font-size-h3;
$latest-posts--description-font-family: $global--font-secondary;
$latest-posts--description-font-size: $global--font-size-sm;

$list--font-family: $global--font-secondary;
$definition-term--font-family: $global--font-primary;

/* Colors */
$global--color-black: $black;
$global--color-gray-alt: $grey-alt;
$global--color-gray: $grey;
$global--color-light-gray: $lightgrey;
$global--color-green: $green;
$global--color-blue: $blue;
$global--color-purple: #d1d1e4;
$global--color-red: $red;
$global--color-orange: #e4dad1;
$global--color-yellow: $yellow;
$global--color-white: $white;
$global--color-white-50: rgba(255, 255, 255, 0.5); // Used for disabled buttons
$global--color-white-90: rgba(255, 255, 255, 0.9); // Used in form fields.

$global--color-primary: $grey-alt; /* Body text color, site title, footer text color. */
$global--color-secondary: $grey; /* Headings */
$global--color-primary-hover: $global--color-primary;
$global--color-background: $green; /* Mint, default body background */
$global--color-border: $global--color-primary; /* Used for borders (separators) */

/* Spacing */
$global--spacing-unit: #{2 * $baseline-unit}; // 20px
$global--spacing-measure: unset; // Use ch units here. ie: 60ch = 60 character max-width
$global--spacing-horizontal: #{2.5 * $baseline-unit}; // 25px
$global--spacing-vertical: #{3 * $baseline-unit}; // 30px.

/* Elevation */
$global--elevation: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);

/* Forms */
$form--font-family: $global--font-secondary;
$form--font-size: $global--font-size-sm;
$form--line-height: $global--line-height-body;
$form--color-text: $grey-alt; // Text color in input fields is always dark over light backgroun.
$form--color-ranged: $global--color-secondary;
$form--label-weight: 500;
$form--border-color: $global--color-secondary;
$form--border-width: 3px;
$form--border-radius: 0;
$form--spacing-unit: calc(0.5 * #{$global--spacing-unit});

/* Cover block */
$cover--height: calc(15 * #{$global--spacing-vertical});
$cover--color-foreground: $global--color-white;
$cover--color-background: $global--color-black;

/* Buttons */
// Colors
$button--color-text: $global--color-background;
$button--color-text-hover: $global--color-secondary;
$button--color-text-active: $global--color-secondary;
$button--color-background: $global--color-secondary;
$button--color-background-active: $global--color-background;
// Fonts
$button--font-family: $global--font-primary;
$button--font-size: $global--font-size-base;
$button--font-weight: 500;
$button--line-height: 1.5;
// Borders
$button--border-width: 3px;
$button--border-radius: 0;
// Spacing
$button--padding-vertical: 15px;
$button--padding-horizontal: calc(2 * #{$button--padding-vertical});

/* entry */
$entry-header--color: $global--color-primary;
$entry-header--color-link: currentColor;
$entry-header--color-hover: $global--color-primary-hover;
$entry-header--color-focus: $global--color-secondary;
$entry-header--font-size: $heading--font-size-h2;
$entry-content--font-family: $global--font-secondary;
$entry-author-bio--font-family: $heading--font-family;
$entry-author-bio--font-size: $heading--font-size-h4;

/* Header */
$branding--color-text: $global--color-primary;
$branding--color-link: $global--color-primary;
$branding--color-link-hover: $global--color-secondary;
$branding--title--font-family: $global--font-primary;
$branding--title--font-size: $global--font-size-lg;
$branding--title--font-size-mobile: $heading--font-size-h4;
$branding--title--font-weight: normal;
$branding--title--text-transform: uppercase;
$branding--description--font-family: $global--font-secondary;
$branding--description--font-size: $global--font-size-sm;
$branding--description--font-family: $global--font-secondary;

$branding--logo--max-width: 300px;
$branding--logo--max-height: 100px;
$branding--logo--max-width-mobile: 96px;
$branding--logo--max-height-mobile: 96px;

/* Main navigation */
$primary-nav--font-family: $global--font-secondary;
$primary-nav--font-family-mobile: $global--font-primary;
$primary-nav--font-size: $global--font-size-md;
$primary-nav--font-size-sub-menu: $global--font-size-xs;
$primary-nav--font-size-mobile: $global--font-size-sm;
$primary-nav--font-size-sub-menu-mobile: $global--font-size-sm;
$primary-nav--font-size-button: $global--font-size-xs;
$primary-nav--font-style: normal;
$primary-nav--font-style-sub-menu-mobile: normal;
$primary-nav--font-weight: normal;
$primary-nav--font-weight-button: 500;
$primary-nav--color-link: $global--color-primary;
$primary-nav--color-link-hover: $global--color-primary-hover;
$primary-nav--color-text: $global--color-primary;
$primary-nav--padding: calc(0.66 * #{$global--spacing-unit});
$primary-nav--border-color: $global--color-primary;


/* Block: Pull quote */
$pullquote--font-family: $global--font-primary;
$pullquote--font-size: $heading--font-size-h3;
$pullquote--font-style: normal;
$pullquote--letter-spacing: $heading--letter-spacing-h4;
$pullquote--line-height: $global--line-height-heading;
$pullquote--border-width: 3px;
$pullquote--border-color: $global--color-primary;
$pullquote--color-foreground: $global--color-primary;
$pullquote--color-background: $global--color-background;

$quote--font-family: $global--font-secondary;
$quote--font-size: $global--font-size-md;
$quote--font-size-large: $global--font-size-xl;
$quote--font-style: normal;
$quote--font-weight: 700;
$quote--font-weight-strong: bolder;
$quote--font-style-large: normal;
$quote--font-style-cite: normal;
$quote--line-height: $global--line-height-body;
$quote--line-height-large: 1.35;

$separator--border-color: $global--color-border;
$separator--height: 1px;

/* Block: Table */
$table--stripes-border-color: $global--color-light-gray;
$table--stripes-background-color: $global--color-light-gray;
$table--has-background-text-color: $global--color-gray-alt;

/* Widgets */
$widget--line-height-list: 1.9;
$widget--line-height-title: 1.4;
$widget--font-weight-title: 700;
$widget--spacing-menu: calc(0.66 * #{$global--spacing-unit});

/* Admin-bar height */
$global--admin-bar--height: 0;


:root {

	/* Font Family */
	--global--font-primary: #{$global--font-primary};
	--global--font-secondary: #{$global--font-secondary};

	/* Font Size */
	--global--font-size-base: #{$global--font-size-base};
	--global--font-size-xs: #{$global--font-size-xs};
	--global--font-size-sm: #{$global--font-size-sm};
	--global--font-size-md: #{$global--font-size-md};
	--global--font-size-lg: #{$global--font-size-lg};
	--global--font-size-xl: #{$global--font-size-xl};
	--global--font-size-xxl: #{$global--font-size-xxl};
	--global--font-size-xxxl: #{$global--font-size-xxxl};
	--global--font-size-page-title: #{$global--font-size-page-title};
	--global--letter-spacing: #{$global--letter-spacing};

	/* Line Height */
	--global--line-height-body: #{$global--line-height-body};
	--global--line-height-heading: #{$global--line-height-heading};
	--global--line-height-page-title: #{$global--line-height-page-title};

	/* Headings */
	--heading--font-family: #{$heading--font-family};

	--heading--font-size-h6: #{$heading--font-size-h6};
	--heading--font-size-h5: #{$heading--font-size-h5};
	--heading--font-size-h4: #{$heading--font-size-h4};
	--heading--font-size-h3: #{$heading--font-size-h3};
	--heading--font-size-h2: #{$heading--font-size-h2};
	--heading--font-size-h1: #{$heading--font-size-h1};

	--heading--letter-spacing-h6: #{$heading--letter-spacing-h6};
	--heading--letter-spacing-h5: #{$heading--letter-spacing-h5};
	--heading--letter-spacing-h4: #{$heading--letter-spacing-h4};
	--heading--letter-spacing-h3: #{$heading--letter-spacing-h3};
	--heading--letter-spacing-h2: #{$heading--letter-spacing-h2};
	--heading--letter-spacing-h1: #{$heading--letter-spacing-h1};

	--heading--line-height-h6: #{$heading--line-height-h6};
	--heading--line-height-h5: #{$heading--line-height-h5};
	--heading--line-height-h4: #{$heading--line-height-h4};
	--heading--line-height-h3: #{$heading--line-height-h3};
	--heading--line-height-h2: #{$heading--line-height-h2};
	--heading--line-height-h1: #{$heading--line-height-h1};

	--heading--font-weight: #{$heading--font-weight};
	--heading--font-weight-page-title: #{$heading--font-weight-page-title};
	--heading--font-weight-strong: #{$heading--font-weight-strong};

	/* Block: Latest posts */
	--latest-posts--title-font-family: #{$latest-posts--title-font-family};
	--latest-posts--title-font-size: #{$latest-posts--title-font-size};
	--latest-posts--description-font-family: #{$latest-posts--description-font-family};
	--latest-posts--description-font-size: #{$latest-posts--description-font-size};

	--list--font-family: #{$list--font-family};
	--definition-term--font-family: #{$definition-term--font-family};

	/* Colors */
	--global--color-black: #{$global--color-black};
	--global--color-dark-gray: #{$global--color-gray-alt};
	--global--color-gray: #{$global--color-gray};
	--global--color-light-gray: #{$global--color-light-gray};
	--global--color-green: #{$global--color-green};
	--global--color-blue: #{$global--color-blue};
	--global--color-purple: #{$global--color-purple};
	--global--color-red: #{$global--color-red};
	--global--color-orange: #{$global--color-orange};
	--global--color-yellow: #{$global--color-yellow};
	--global--color-white: #{$global--color-white};
	--global--color-white-50: #{$global--color-white-50}; // Used for disabled buttons
	--global--color-white-90: #{$global--color-white-90}; // Used in form fields.

	--global--color-primary: #{$global--color-primary}; /* Body text color, site title, footer text color. */
	--global--color-secondary: #{$global--color-secondary}; /* Headings */
	--global--color-primary-hover: #{$global--color-primary-hover};
	--global--color-background: #{$global--color-background}; /* Mint, default body background */
	--global--color-border: #{$global--color-border}; /* Used for borders (separators) */

	/* Spacing */
	--global--spacing-unit: #{2 * $baseline-unit}; // 20px
	--global--spacing-measure: unset; // Use ch units here. ie: 60ch = 60 character max-width
	--global--spacing-horizontal: #{2.5 * $baseline-unit}; // 25px
	--global--spacing-vertical: #{3 * $baseline-unit}; // 30px.

	/* Elevation */
	--global--elevation: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);

	/* Forms */
	--form--font-family: var(--global--font-secondary);
	--form--font-size: var(--global--font-size-sm);
	--form--line-height: var(--global--line-height-body);
	--form--color-text: var(--global--color-dark-gray); // Text color in input fields is always dark over light background.
	--form--color-ranged: var(--global--color-secondary);
	--form--label-weight: 500;
	--form--border-color: var(--global--color-secondary);
	--form--border-width: 3px;
	--form--border-radius: 0;
	--form--spacing-unit: calc(0.5 * var(--global--spacing-unit));

	/* Cover block */
	--cover--height: calc(15 * var(--global--spacing-vertical));
	--cover--color-foreground: var(--global--color-white);
	--cover--color-background: var(--global--color-black);

	/* Buttons */
	// Colors
	--button--color-text: var(--global--color-background);
	--button--color-text-hover: var(--global--color-secondary);
	--button--color-text-active: var(--global--color-secondary);
	--button--color-background: var(--global--color-secondary);
	--button--color-background-active: var(--global--color-background);
	// Fonts
	--button--font-family: var(--global--font-primary);
	--button--font-size: var(--global--font-size-base);
	--button--font-weight: 500;
	--button--line-height: 1.5;
	// Borders
	--button--border-width: 3px;
	--button--border-radius: 0;
	// Spacing
	--button--padding-vertical: 15px;
	--button--padding-horizontal: calc(2 * var(--button--padding-vertical));

	/* entry */
	--entry-header--color: var(--global--color-primary);
	--entry-header--color-link: currentColor;
	--entry-header--color-hover: var(--global--color-primary-hover);
	--entry-header--color-focus: var(--global--color-secondary);
	--entry-header--font-size: var(--heading--font-size-h2);
	--entry-content--font-family: var(--global--font-secondary);
	--entry-author-bio--font-family: var(--heading--font-family);
	--entry-author-bio--font-size: var(--heading--font-size-h4);

	/* Header */
	--branding--color-text: var(--global--color-primary);
	--branding--color-link: var(--global--color-primary);
	--branding--color-link-hover: var(--global--color-secondary);
	--branding--title--font-family: var(--global--font-primary);
	--branding--title--font-size: var(--global--font-size-lg);
	--branding--title--font-size-mobile: var(--heading--font-size-h4);
	--branding--title--font-weight: normal;
	--branding--title--text-transform: uppercase;
	--branding--description--font-family: var(--global--font-secondary);
	--branding--description--font-size: var(--global--font-size-sm);
	--branding--description--font-family: var(--global--font-secondary);

	--branding--logo--max-width: 300px;
	--branding--logo--max-height: 100px;
	--branding--logo--max-width-mobile: 96px;
	--branding--logo--max-height-mobile: 96px;

	/* Main navigation */
	--primary-nav--font-family: var(--global--font-secondary);
	--primary-nav--font-family-mobile: var(--global--font-primary);
	--primary-nav--font-size: var(--global--font-size-md);
	--primary-nav--font-size-sub-menu: var(--global--font-size-xs);
	--primary-nav--font-size-mobile: var(--global--font-size-sm);
	--primary-nav--font-size-sub-menu-mobile: var(--global--font-size-sm);
	--primary-nav--font-size-button: var(--global--font-size-xs);
	--primary-nav--font-style: normal;
	--primary-nav--font-style-sub-menu-mobile: normal;
	--primary-nav--font-weight: normal;
	--primary-nav--font-weight-button: 500;
	--primary-nav--color-link: var(--global--color-primary);
	--primary-nav--color-link-hover: var(--global--color-primary-hover);
	--primary-nav--color-text: var(--global--color-primary);
	--primary-nav--padding: calc(0.66 * var(--global--spacing-unit));
	--primary-nav--border-color: var(--global--color-primary);

	/* Pagination */
	--pagination--color-text: var(--global--color-primary);
	--pagination--color-link-hover: var(--global--color-primary-hover);
	--pagination--font-family: var(--global--font-secondary);
	--pagination--font-size: var(--global--font-size-lg);
	--pagination--font-weight: normal;
	--pagination--font-weight-strong: 600;

	/* Footer */
	--footer--color-text: var(--global--color-primary);
	--footer--color-link: var(--global--color-primary);
	--footer--color-link-hover: var(--global--color-primary-hover);
	--footer--font-family: var(--global--font-primary);
	--footer--font-size: var(--global--font-size-sm);

	/* Block: Pull quote */
	--pullquote--font-family: var(--global--font-primary);
	--pullquote--font-size: var(--heading--font-size-h3);
	--pullquote--font-style: normal;
	--pullquote--letter-spacing: var(--heading--letter-spacing-h4);
	--pullquote--line-height: var(--global--line-height-heading);
	--pullquote--border-width: 3px;
	--pullquote--border-color: var(--global--color-primary);
	--pullquote--color-foreground: var(--global--color-primary);
	--pullquote--color-background: var(--global--color-background);

	--quote--font-family: var(--global--font-secondary);
	--quote--font-size: var(--global--font-size-md);
	--quote--font-size-large: var(--global--font-size-xl);
	--quote--font-style: normal;
	--quote--font-weight: 700;
	--quote--font-weight-strong: bolder;
	--quote--font-style-large: normal;
	--quote--font-style-cite: normal;
	--quote--line-height: var(--global--line-height-body);
	--quote--line-height-large: 1.35;

	--separator--border-color: var(--global--color-border);
	--separator--height: 1px;

	/* Block: Table */
	--table--stripes-border-color: var(--global--color-light-gray);
	--table--stripes-background-color: var(--global--color-light-gray);
	--table--has-background-text-color: var(--global--color-dark-gray);

	/* Widgets */
	--widget--line-height-list: 1.9;
	--widget--line-height-title: 1.4;
	--widget--font-weight-title: 700;
	--widget--spacing-menu: calc(0.66 * var(--global--spacing-unit));

	/* Admin-bar height */
	--global--admin-bar--height: 0;
}

.admin-bar {
	--global--admin-bar--height: 32px;

	@media only screen and (max-width: 782px) {
		--global--admin-bar--height: 46px;
	}
}

@media only screen and (min-width: 652px) { // Not using the mixin because it's compiled after this file
	:root {
		--global--font-size-xl: 2.5rem; // 40px / 16px
		--global--font-size-xxl: 6rem; // 96px / 16px
		--global--font-size-xxxl: 9rem; // 144px / 16px
		--heading--font-size-h3: 2rem; // 32px / 16px
		--heading--font-size-h2: 3rem; // 48px / 16px
	}
}
