.wp-block-latest-posts {
	padding-left: 0;

	// Vertical margins logic
	&:not(.is-grid) > li {
		margin-top: calc(1.666 * #{$global--spacing-vertical});
		margin-bottom: calc(1.666 * #{$global--spacing-vertical});

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.is-grid {
		word-wrap: break-word;
		word-break: break-word;

		> li {
			margin-bottom: $global--spacing-vertical;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	> li > * {
		margin-top: calc(0.333 * #{$global--spacing-vertical});
		margin-bottom: calc(0.333 * #{$global--spacing-vertical});

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Post title
	> li > a {
		display: inline-block;
		font-family: $heading--font-family;
		font-size: $heading--font-size-h3;
		font-weight: $heading--font-weight;
		line-height: $global--line-height-heading;
		margin-bottom: calc(0.333 * #{$global--spacing-vertical});
	}

	// Post author
	.wp-block-latest-posts__post-author {
		color: $global--color-primary;
		font-size: $global--font-size-md;
		line-height: $global--line-height-body;
	}

	// Post date
	.wp-block-latest-posts__post-date {
		color: $global--color-primary;
		font-size: $global--font-size-xs;
		line-height: $global--line-height-body;

		[class*="inner-container"] &,
		.has-background & {
			color: currentColor;
		}
	}

	// Post content
	.wp-block-latest-posts__post-excerpt,
	.wp-block-latest-posts__post-full-content {
		font-family: $global--font-secondary;
		font-size: $global--font-size-sm;
		line-height: $global--line-height-body;
		margin-top: calc(0.666 * #{$global--spacing-vertical});
	}

	// Block Styles

}
