.wp-block-latest-posts {
	padding-left: 0;

	// Vertical margins logic
	&:not(.is-grid) > li {
		margin-top: calc(1.666 * #{$global--spacing-vertical});
		margin-bottom: calc(1.666 * #{$global--spacing-vertical});

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.is-grid {
		word-wrap: break-word;
		word-break: break-word;

		> li {
			margin-bottom: $global--spacing-vertical;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	> li > * {
		margin-top: calc(0.333 * #{$global--spacing-vertical});
		margin-bottom: calc(0.333 * #{$global--spacing-vertical});

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Post title
	> li > a {
		display: inline-block;
		font-family: $heading--font-family;
		font-size: $heading--font-size-h3;
		font-weight: $heading--font-weight;
		line-height: $global--line-height-heading;
		margin-bottom: calc(0.333 * #{$global--spacing-vertical});
	}

	// Post author
	.wp-block-latest-posts__post-author {
		color: $global--color-primary;
		font-size: $global--font-size-md;
		line-height: $global--line-height-body;
	}

	// Post date
	.wp-block-latest-posts__post-date {
		color: $global--color-primary;
		font-size: $global--font-size-xs;
		line-height: $global--line-height-body;

		[class*="inner-container"] &,
		.has-background & {
			color: currentColor;
		}
	}

	// Post content
	.wp-block-latest-posts__post-excerpt,
	.wp-block-latest-posts__post-full-content {
		font-family: $global--font-secondary;
		font-size: $global--font-size-sm;
		line-height: $global--line-height-body;
		margin-top: calc(0.666 * #{$global--spacing-vertical});
	}

	// Block Styles
	&.is-style-twentytwentyone-latest-posts-dividers {
		border-top: calc(3 * 1px) solid $global--color-border;
		border-bottom: calc(3 * 1px) solid $global--color-border;

		&:not(.is-grid) > li,
		> li {
			padding-bottom: $global--spacing-vertical;
			border-bottom: 1px solid $global--color-border;
			margin-top: $global--spacing-vertical;
			margin-bottom: $global--spacing-vertical;

			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}

		&.is-grid {
			// Border moves up 1px to overlap the li borders in the last row.
			box-shadow: inset 0 -1px 0 0 $global--color-border;
			border-bottom: calc(2 * 1px) solid $global--color-border;

			li {
				margin: 0;
				padding-top: $global--spacing-vertical;
				padding-right: $global--spacing-horizontal;

				&:last-child {
					padding-bottom: $global--spacing-vertical;
				}
			}

			// This is using a non-standard media query because it is directly overriding the gutenberg-provided widths.
			// https://github.com/WordPress/gutenberg/blob/master/packages/block-library/src/latest-posts/style.scss#L28-L34
			@media screen and (min-width: 600px) {
				@for $i from 2 through 6 {

					&.columns-#{ $i } li {
						width: calc((100% / #{ $i }));
					}
				}
			}
		}
	}

	&.is-style-twentytwentyone-latest-posts-borders {

		li {
			border: calc(3 * 1px) solid $global--color-border;
			padding: $global--spacing-vertical $global--spacing-horizontal;

			&:last-child {
				padding-bottom: $global--spacing-vertical;
				margin-bottom: $global--spacing-vertical;
			}
		}

		&:not(.is-grid) li {
			margin-top: $global--spacing-horizontal;
			margin-bottom: $global--spacing-horizontal;
		}
	}
}
