.wp-block-social-links {

	a:focus {
		color: $global--color-primary;
	}

	&.is-style-twentytwentyone-social-icons-color {

		a {
			color: $global--color-primary;
		}

		.wp-social-link {
			background: none;
		}

	}
}
