.wp-block-navigation {

	.wp-block-navigation__container {
		background: $global--color-background;
		padding: 0;
	}

	.wp-block-navigation-link {

		.wp-block-navigation-link__content {
			padding: $primary-nav--padding;
		}

		.wp-block-navigation-link__label {
			font-family: $global--font-secondary;
			font-size: $primary-nav--font-size;
			font-weight: normal;
		}
	}

	.has-child {

		.wp-block-navigation__container {
			box-shadow: $global--elevation;
		}
	}

	&:not(.has-text-color) {

		.wp-block-navigation-link {

			> a {

				&:hover,
				&:focus {
					color: $primary-nav--color-link-hover;
				}
			}
		}

		.wp-block-navigation-link__content {
			color: currentColor;
		}
	}
}
