.wp-block-latest-comments {
	padding-left: 0;

	.wp-block-latest-comments__comment {
		font-size: $global--font-size-sm;
		line-height: $global--line-height-body;

		/* Vertical margins logic */
		margin-top: $global--spacing-vertical;
		margin-bottom: $global--spacing-vertical;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-latest-comments__comment-meta {
		font-family: $heading--font-family;
	}

	.wp-block-latest-comments__comment-date {
		color: $global--color-primary;
		font-size: $global--font-size-sm;
	}

	.wp-block-latest-comments__comment-excerpt p {
		font-size: $global--font-size-sm;
		line-height: $global--line-height-body;
		margin: 0;
	}
}
