.wp-block-heading h1,
h1,
.h1,
.wp-block-heading h2,
h2,
.h2,
.wp-block-heading h3,
h3,
.h3,
.wp-block-heading h4,
h4,
.h4,
.wp-block-heading h5,
h5,
.h5,
.wp-block-heading h6,
h6,
.h6 {
	clear: both;
	font-family: $heading--font-family;
	font-weight: $heading--font-weight;

	strong {
		font-weight: $heading--font-weight-strong;
	}

	&[style*="--wp--typography--line-height"] {
		line-height: var(--wp--typography--line-height, #{$global--line-height-body});
	}
}

.wp-block-heading h1,
h1,
.h1 {
	font-size: $heading--font-size-h1;
	letter-spacing: $global--letter-spacing;
	line-height: $heading--line-height-h1;
}

.wp-block-heading h2,
h2,
.h2 {
	font-size: $heading--font-size-h2;
	letter-spacing: $heading--letter-spacing-h2;
	line-height: $heading--line-height-h2;
}

.wp-block-heading h3,
h3,
.h3 {
	font-size: $heading--font-size-h3;
	letter-spacing: $heading--letter-spacing-h3;
	line-height: $heading--line-height-h3;
}

.wp-block-heading h4,
h4,
.h4 {
	font-size: $heading--font-size-h4;
	font-weight: $heading--font-weight-strong;
	letter-spacing: $heading--letter-spacing-h4;
	line-height: $heading--line-height-h4;
}

.wp-block-heading h5,
h5,
.h5 {
	font-size: $heading--font-size-h5;
	font-weight: $heading--font-weight-strong;
	letter-spacing: $heading--letter-spacing-h5;
	line-height: $heading--line-height-h5;
}

.wp-block-heading h6,
h6,
.h6 {
	font-size: $heading--font-size-h6;
	font-weight: $heading--font-weight-strong;
	letter-spacing: $heading--letter-spacing-h6;
	line-height: $heading--line-height-h6;
}
