.page-title {
	font-size: $global--font-size-page-title;
}

h1.page-title,
h2.page-title {
	font-weight: $heading--font-weight-page-title;
}

h1.page-title {
	line-height: $heading--line-height-h1;
}

.page-header {
	border-bottom: 3px solid $global--color-border;
	padding-bottom: calc(2 * #{$global--spacing-vertical});
}

.archive,
.search,
.blog {

	.content-area {

		.format-aside,
		.format-status,
		.format-link {

			.entry-content {
				font-size: $global--font-size-lg;
			}
		}

	}

	.format-image,
	.format-gallery,
	.format-video {

		.entry-content {
			margin-top: calc(2 * #{$global--spacing-vertical});
		}
	}

	.entry-footer {

		.cat-links,
		.tags-links {
			display: block;
		}
	}

	&.logged-in {

		.entry-footer {

			.posted-on {
				margin-right: calc(0.5 * #{$global--spacing-unit});
			}
		}
	}
}

.archive-description {
	margin-top: $global--spacing-vertical;
	font-size: $global--font-size-xl;
	line-height: $global--line-height-heading;
}
