
.footer-navigation {
	margin-top: calc(2 * #{$global--spacing-vertical});
	margin-bottom: $global--spacing-vertical;
	color: $global--color-primary;
	font-size: $global--font-size-xs;
	font-family: $global--font-primary;
}

.footer-navigation-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;

	li {
		display: inline;
		// This is to prevent hover styles from overlapping when the menu wraps.
		line-height: 3;

		a {
			padding: calc(1.25 * #{$primary-nav--padding}) $primary-nav--padding;
			transition: transform 0.1s ease;
			color: $global--color-primary;

			&:link,
			&:visited,
			&:active {
				color: $global--color-primary;
			}

			&:hover {
				text-decoration: underline;
				text-decoration-style: dotted;
				text-decoration-skip-ink: none;
				color: $global--color-primary-hover;
			}

			&:focus {

				// Change colors when the body background is white.
				.has-background-white & {

					.svg-icon {
						fill: var(--wp--style--color--link, $global--color-white);
					}
				}
			}
		}

		.svg-icon {
			vertical-align: middle;
			fill: $global--color-primary;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.sub-menu-toggle,
	.menu-item-description {
		display: none;
	}
}
