// Site header
.site-header {
	@extend %responsive-alignwide-width;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	row-gap: $global--spacing-vertical; // Add space in case the menu wraps below the site branding.

	@include media(mobile) {
		padding-top: calc(#{$global--spacing-vertical} / 0.75); // 40px
	}

	@include media(desktop) {
		padding-top: calc(2.4 * #{$global--spacing-vertical}); // 60px
	}
}

// Site branding
.site-branding {
	color: $global--color-primary;
	margin-right: 140px;

	&:last-child {
		margin-right: 0;
		width: 100%;
		text-align: center;
	}

	@include media(mobile) {
		margin-right: initial;
		margin-top: 4px; // Align the baseline of the site title with the primary menu
	}
}

// Site title
.site-title {

	color: $global--color-primary;
	font-family: var(--branding--title--font-family);
	font-size: $heading--font-size-h4;
	letter-spacing: normal;
	text-transform: uppercase;
	line-height: $global--line-height-heading;
	margin-bottom: calc(#{$global--spacing-vertical} / 6);

	a {
		color: currentColor;
		font-weight: normal;

		&:link,
		&:visited,
		&:active {
			color: currentColor;
		}

		&:hover,
		&:focus {
			color: $global--color-secondary;
		}

	}

	@include media(mobile) {
		font-size: $global--font-size-lg;
	}
}

// Site description
.site-description {
	color: currentColor;
	font-family: $global--font-secondary;
	font-size: $global--font-size-sm;
	line-height: 1.4;
}


.site-title > a {
	text-decoration-color: $global--color-secondary;
}

// Site logo
.site-logo {

	margin: calc(#{$global--spacing-vertical} / 2) 0;

	.site-header > & {
		width: 100%;
		padding-bottom: calc(#{$global--spacing-vertical} * 1.5);
		border-bottom: 1px solid;
		text-align: center;
	}
}

@include media(mobile-only) {

	.site-header {

		&.has-logo {

			&:not(.has-title-and-tagline) {

				&.has-menu {

					.site-logo {
						position: absolute;
						padding-top: calc(0.5 * #{$global--spacing-vertical});
						margin-top: 0;
						top: $global--admin-bar--height;

						.primary-navigation-open & {
							display: none;
						}

						img {
							max-height: calc(#{$button--padding-vertical} - (0.25 * #{$global--spacing-unit}) + 1.7em);
						}
					}
				}
			}

			&.has-title-and-tagline {
				align-items: flex-start;

				&.has-menu {
					justify-content: space-between;

					.site-branding {
						max-width: calc(100% - 160px);
					}
				}

				.site-branding {
					margin-right: 0;
				}

				body:not(.primary-navigation-open) & {

					&:after {
						display: none;
					}

					.primary-navigation {
						position: relative;
						top: 0;
					}

					.menu-button-container {
						position: relative;
						padding-top: 0;
						margin-top: calc(0 - #{$button--padding-vertical} + (0.25 * #{$global--spacing-unit}));

						#primary-mobile-menu {
							// The 4.5px here is to offset the icon size horizontallly
							// (the icon's width is larger than the path's width and has extra space on the sides).
							padding-left: calc(#{$global--spacing-horizontal} * 0.6 - 4.5px);
							padding-right: calc(#{$global--spacing-horizontal} * 0.6 - 4.5px);
							margin-right: calc(0 - #{$global--spacing-horizontal} * 0.6);
						}
					}
				}
			}
		}

		&:not(.has-logo) {

			&.has-title-and-tagline {

				.site-branding {
					margin-right: 0;
					max-width: calc(100% - 160px);
				}
			}
		}

		&:not(.has-menu) {
			justify-content: center;
		}
	}
}
