/* Next/Previous navigation */

// All navigation
.navigation {
	color: $global--color-primary;

	a {
		color: $global--color-primary;
		text-decoration: none;

		&:hover {
			color: $global--color-primary-hover;
			text-decoration: underline;
			text-decoration-style: dotted;
		}

		&:focus {
			color: $global--color-secondary;
		}

		&:active {
			color: $global--color-primary;
		}
	}

	.nav-links {

		> * {
			min-width: 44px;
			min-height: 44px;
		}

		.nav-next a,
		.nav-previous a {
			display: flex;
			flex-direction: column;
		}

		.dots {
			text-align: center;
		}

		@include media(tablet) {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.nav-next,
			.nav-previous {
				flex: 0 1 auto;
				margin-bottom: inherit;
				margin-top: inherit;
				max-width: calc(50% - (0.5 * #{$global--spacing-unit}));
			}

			.nav-next {
				text-align: right;
			}
		}
	}

	.svg-icon {
		display: inline-block;
		fill: currentColor;
		vertical-align: middle;
		position: relative;
	}

	.nav-previous .svg-icon,
	.prev .svg-icon {
		top: -2px;
		margin-right: calc(0.25 * #{$global--spacing-unit});
	}

	.nav-next .svg-icon,
	.next .svg-icon {
		top: -1px;
		margin-left: calc(0.25 * #{$global--spacing-unit});
	}
}

// Singular navigation
.post-navigation {

	margin: $global--spacing-vertical auto;

	@include media(desktop) {
		margin: $global--spacing-vertical auto;
	}

	@extend %responsive-alignwide-width;

	.meta-nav {
		line-height: $global--line-height-body;
		color: $global--color-primary;
	}

	.post-title {
		display: inline-block;
		font-family: $global--font-primary;
		font-size: $global--font-size-lg;
		font-weight: 600;
		line-height: $global--line-height-heading;
		@include media(desktop) {
			margin: 5px calc(24px + (0.25 * #{$global--spacing-unit})) 0;
		}
	}

	.nav-links {
		@include media(mobile) {
			justify-content: space-between;
		}
	}

	.nav-next,
	.nav-previous {
		margin-top: $global--spacing-vertical;
		margin-bottom: $global--spacing-vertical;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Index/archive navigation
.pagination,
.comments-pagination {

	border-top: 3px solid $global--color-border;
	padding-top: $global--spacing-vertical;
	margin: $global--spacing-vertical auto;

	@include media(desktop) {
		margin: $global--spacing-vertical auto;
	}

	@extend %responsive-alignwide-width;

	// Resets the top margin added to the .nav-links items below.
	.nav-links {
		margin-top: calc(-1 * #{$global--spacing-vertical});

		a:hover {
			color: $global--color-primary-hover;
		}

		.is-dark-theme & {

			a:active,
			a:hover:active,
			a:hover:focus {
				color: $global--color-background;
			}
		}

		.has-background-white & {

			a:active,
			a:hover:active,
			a:hover:focus {
				color: $global--color-white;
			}
		}
	}

	.nav-links > * {
		color: $global--color-primary;
		font-family: $global--font-secondary;
		font-size: $global--font-size-lg;
		font-weight: normal;
		margin-top: $global--spacing-vertical;
		margin-left: calc(0.66 * #{$global--spacing-unit});
		margin-right: calc(0.66 * #{$global--spacing-unit});

		&.current {
			text-decoration: underline;
		}

		&:not(.dots):not(.current):hover {
			text-decoration-style: dotted;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&.next {
			margin-left: auto;
		}

		&.prev {
			margin-right: auto;
		}
	}

	@include media(desktop-only) {

		.nav-links {
			display: flex;
			flex-wrap: wrap;
		}

		.page-numbers {
			display: none;

			&.prev,
			&.next {
				display: inline-block;
				flex: 0 1 auto;
			}
		}
	}

	@include media(mobile-only) {

		.nav-short {
			display: none;
		}
	}
}

// Comments pagination
.comments-pagination {
	padding-top: calc(0.66 * #{$global--spacing-vertical});
	margin: calc(3 * #{$global--spacing-vertical}) auto;

	@include media(desktop) {
		margin: calc(3 * #{$global--spacing-vertical}) auto calc(4 * #{$global--spacing-vertical}) auto;
	}

	.nav-links > * {
		font-size: $global--font-size-md;
	}
}
