.wp-block-code {
	border-color: $global--color-border;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	padding: $global--spacing-unit;

	code {
		color: $global--color-primary;
		font-size: $global--font-size-xs;
		white-space: pre;
		overflow-x: auto;
		display: block;
	}
}
