// Editor styles
.wp-block-ecrannoirtwentyone-cover-slider {

	.block-cover-slider-gallery {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 0;
		// Some themes give all <ul> default margin instead of padding.
		margin: 0;

		li {
			// Override the default list style type _only in the editor_
			// to avoid :not() selector specificity issues.
			// See https://github.com/WordPress/gutenberg/pull/10358
			list-style-type: none;

			flex: 0 0 33%;
		}

		.block-cover-slider-image {
			// Add space between thumbnails, and unset right most thumbnails later.
			margin: 0;
			padding: 0;
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			justify-content: center;
			position: relative;
			height: 100%;

			figure {
				margin: 0;
				height: 100%;
				width: 100%;
			}

			img {
				display: block;
				max-width: 100%;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}

			&.is-selected figure {
				box-shadow: 0 0 0 1px $white, 0 0 0 3px var(--wp-admin-theme-color);
				border-radius: 2px;
				outline: 2px solid transparent;

				img {
					border-radius: 3px;
				}
			}

			&.is-selected .block-library-gallery-item__inline-menu {
				display: inline-flex;
			}
		}
	}
}
