[data-type="core/html"] textarea {
	// Make sure that the color is not white on white when a dark body background is used.
	color: $global--color-gray-alt;
	border-radius: 0;
	padding: $global--spacing-unit;
}
