/**
* Editor Post Title
* - Needs a special styles
*/

// Post title style
.wp-block.editor-post-title__block {
	border-bottom: 3px solid $global--color-border;
	padding-bottom: calc(2 * #{$global--spacing-vertical});
	margin-bottom: calc(3 * #{$global--spacing-vertical});
	max-width: var(--responsive--alignwide-width);

	.editor-post-title__input {
		color: $global--color-secondary;
		font-family: $heading--font-family;
		font-size: $global--font-size-page-title;
		font-weight: $heading--font-weight-page-title;
		line-height: $heading--line-height-h1;
	}
}

// Editor UI font styles
.wp-block.block-editor-default-block-appender > textarea {
	font-family: $global--font-secondary;
	font-size: $global--font-size-md;
}

// Gutenberg text color options
.has-primary-color[class] {
	color: $global--color-primary;
}

.has-secondary-color[class] {
	color: $global--color-secondary;
}

// Gutenberg background-color options
.has-background {

	a,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: currentColor;
	}
}

.has-primary-background-color[class] {
	background-color: $global--color-primary;
	color: $global--color-background;
}

.has-secondary-background-color[class] {
	background-color: $global--color-secondary;
	color: $global--color-background;
}

.has-white-background-color[class] {
	background-color: $global--color-white;
	color: $global--color-secondary;
}

.has-black-background-color[class] {
	background-color: $global--color-black;
	color: $global--color-primary;
}

// Spacing Overrides
[data-block] {
	margin-top: $global--spacing-vertical;
	margin-bottom: $global--spacing-vertical;
}

// Block Alignments
.wp-block {

	// Gutenberg injects a rule that limits the max width of .wp-block to 580px
	// This line overrides it to use the responsive spacing rules for default width content
	max-width: var(--responsive--aligndefault-width);

	// Use the theme's max-width for wide alignment.
	&[data-align="wide"],
	&.alignwide {
		max-width: var(--responsive--alignwide-width);
	}

	&[data-align="full"],
	&.alignfull {
		max-width: none;
	}
}

.alignleft {
	margin: 0;
	margin-right: $global--spacing-horizontal;
}

.alignright {
	margin: 0;
	margin-left: $global--spacing-horizontal;
}

// Drop cap
.has-drop-cap:not(:focus)::first-letter {
	font-family: $heading--font-family;
	font-weight: $heading--font-weight;
	line-height: 0.66;
	text-transform: uppercase;
	font-style: normal;
	float: left;
	margin: 0.1em 0.1em 0 0;
	font-size: calc(1.2 * #{$heading--letter-spacing-h1});
}

@media only screen and (min-width: 482px) {

	.wp-block[data-align="left"] > * {
		max-width: 290px;
		margin-right: $global--spacing-horizontal;
	}

	.wp-block[data-align="right"] > * {
		max-width: 290px;
		margin-left: $global--spacing-horizontal;
	}
}

// Remove the border of blockquotes inside the classic block.
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	border: none;
}

// Adjust the position of the quote symbol for blockquotes inside the classic block.
.wp-block-freeform.block-library-rich-text__tinymce blockquote:before {
	left: 5px;
}

.ecrannoirtwentyone-is-full-height {
	height: 100%;
	display: flex;

	> *:first-child {
		display: flex;
		flex-direction: column;
		align-content: flex-end;

		> * {
			margin-top: 0;
			margin-bottom: calc(0.666 * #{$global--spacing-vertical});

			@include media(mobile) {
				margin-top: 0;
				margin-bottom: $global--spacing-vertical;
			}

			&:first-child {
				margin-top: 0;
			}

			&:nth-last-child(2) {
				flex-grow: 1;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
