// Gutenberg Font-size utility classes
:root {


	@each $font-size-key, $font-size-value in $theme-font-size {
		$the-font-size: null;
		$the-font-size-name: null;

		@if type-of($font-size-value) == "map" {
			$the-font-size: map-get($font-size-value, size);
			$the-font-size-name: map-get($font-size-value, slug);
		} @else {
			$the-font-size: $font-size-value;
			$the-font-size-name: $font-size-key;
		}

		.is-#{$the-font-size-name}-text,
		.has-#{$the-font-size-name}-font-size {
			font-size: #{($the-font-size / 10)}rem;
		}
	}

	.is-regular-text,
	.has-regular-font-size,
	.is-normal-font-size,
	.has-normal-font-size,
	.has-medium-font-size {
		font-size: $global--font-size-base;
	}


	.is-larger-text,
	.has-larger-font-size {
		font-size: $global--font-size-xl;
		line-height: $global--line-height-heading;
	}
}
