.wp-block-search {
	max-width: var(--responsive--aligndefault-width);

	.wp-block-search__label {
		font-size: $form--font-size;
		font-weight: $form--label-weight;
		margin-bottom: calc(#{$global--spacing-vertical} / 3);
	}

	.wp-block-search__input {
		border: $form--border-width solid $form--border-color;
		border-radius: $form--border-radius;
		font-family: $global--font-secondary;
		font-size: $form--font-size;
		line-height: $form--line-height;
		max-width: inherit;
		margin-right: calc(-1 * #{$button--border-width});
		padding: $form--spacing-unit;

		.is-dark-theme & {
			background: $global--color-white-90;
		}

		.has-background.has-white-background-color &,
		.has-background.has-green-background-color &,
		.has-background.has-blue-background-color &,
		.has-background.has-purple-background-color &,
		.has-background.has-red-background-color &,
		.has-background.has-orange-background-color &,
		.has-background.has-yellow-background-color & {

			.is-dark-theme & {
				border-color: $form--color-text;
			}
		}

		.has-background.has-gray-background-color &,
		.has-background.has-dark-gray-background-color &,
		.has-background.has-black-background-color & {
			border-color: $global--color-white;
		}
	}

	.wp-block-search__button {
		@include button-style();
		box-shadow: none;
		margin-left: 0;
		background-color: transparent;
		color: $button--color-text-hover;

		&:hover {
			color: $button--color-text-hover;
			background-color: $button--color-background;
		}

		&.has-icon {
			padding: calc(2 * #{$button--padding-vertical}) calc(0.5 * #{$button--padding-horizontal});

			svg {
				width: 40px;
				height: 40px;
			}
		}

		.has-background.has-gray-background-color &,
		.has-background.has-dark-gray-background-color &,
		.has-background.has-black-background-color & {
			color: $global--color-white;
			border-color: currentColor;

			&:hover {
				color: $global--color-white;
				background-color: $button--color-background;
				border-color: $global--color-white;

				.is-dark-theme & {
					color: $button--color-text-hover;
					background-color: $button--color-background;
				}
			}
		}

		.has-background.has-white-background-color &,
		.has-background.has-green-background-color &,
		.has-background.has-blue-background-color &,
		.has-background.has-purple-background-color &,
		.has-background.has-red-background-color &,
		.has-background.has-orange-background-color &,
		.has-background.has-yellow-background-color & {

			&:hover {
				color: $global--color-white;
				background-color: $form--border-color;
				border-color: $form--border-color;
			}

			.is-dark-theme & {
				color: $form--color-text;
				border-color: currentColor;

				&:hover {
					color: $global--color-white;
					background-color: $button--color-text-hover;
					border-color: $button--color-text-hover;
				}
			}
		}
	}

	&.wp-block-search__button-inside {

		.wp-block-search__input,
		.has-background.has-white-background-color & .wp-block-search__input,
		.has-background.has-green-background-color & .wp-block-search__input,
		.has-background.has-blue-background-color & .wp-block-search__input,
		.has-background.has-purple-background-color & .wp-block-search__input,
		.has-background.has-red-background-color & .wp-block-search__input,
		.has-background.has-orange-background-color & .wp-block-search__input,
		.has-background.has-yellow-background-color & .wp-block-search__input {
			border: none;
		}

		&.wp-block-search__text-button {

			.wp-block-search__button {
				// Match the text button size with the icon button.
				padding: $button--padding-vertical $button--padding-horizontal;
			}
		}

		.wp-block-search__button {

			.is-dark-theme & {
				color: $button--color-text-hover;
				border-color: currentColor;

				&:hover {
					color: $global--color-white;
					background-color: $button--color-text-hover;
					border-color: $button--color-text-hover;
				}
			}

			.has-background.has-gray-background-color &,
			.has-background.has-dark-gray-background-color &,
			.has-background.has-black-background-color & {
				color: $button--color-text-hover;
				border-color: currentColor;

				&:hover {
					color: $global--color-white;
					background-color: $button--color-background;
					border-color: $button--color-background;
				}

				.is-dark-theme & {
					color: $button--color-text-hover;
					border-color: currentColor;

					&:hover {
						color: $global--color-white;
						background-color: $button--color-text-hover;
						border-color: $button--color-text-hover;
					}
				}
			}
		}
	}
}

.wp-block[data-align="center"] > * {
	text-align: center;
}

.wp-block[data-align="center"] {

	.wp-block-search__button-only {

		.wp-block-search__inside-wrapper {
			justify-content: center;
		}
	}
}
