.wp-block-search {
	max-width: var(--responsive--aligndefault-width);

	&__button-only.aligncenter {

		.wp-block-search__inside-wrapper {
			justify-content: center;
		}
	}

	.wp-block-search__label {
		font-size: $form--font-size;
		font-weight: $form--label-weight;
		margin-bottom: calc(#{$global--spacing-vertical} / 3);
	}

	.wp-block-search__input {
		border: $form--border-width solid $form--border-color;
		border-radius: $form--border-radius;
		color: $form--color-text;
		line-height: $form--line-height;
		max-width: inherit;
		margin-right: calc(-1 * #{$button--border-width});
		padding: $form--spacing-unit;

		&:focus {
			color: $form--color-text;
			border-color: $form--border-color;
		}

		.has-background &,
		[class*="background-color"] &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			border-color: currentColor;
		}

		.has-background.has-gray-background-color &,
		.has-background.has-dark-gray-background-color &,
		.has-background.has-black-background-color & {
			border-color: $global--color-white;
		}
	}

	button.wp-block-search__button {
		margin-left: 0;
		background-color: transparent;
		color: $button--color-text-hover;
		line-height: 1;

		&:hover {
			background-color: $button--color-background;
			color: $button--color-text-hover;
		}

		&.has-icon {
			padding: 6px calc(0.5 * #{$button--padding-horizontal});

			svg {
				width: 40px;
				height: 40px;
				fill: currentColor;
			}
		}

		.has-background.has-gray-background-color &,
		.has-background.has-dark-gray-background-color &,
		.has-background.has-black-background-color & {
			color: $global--color-white;
			border-color: currentColor;

			&:hover {
				background-color: $button--color-background;
				border-color: $global--color-white;
				color: $global--color-white;

				.is-dark-theme & {
					color: $button--color-text-hover;
				}
			}
		}

		.has-background.has-white-background-color &,
		.has-background.has-green-background-color &,
		.has-background.has-blue-background-color &,
		.has-background.has-purple-background-color &,
		.has-background.has-red-background-color &,
		.has-background.has-orange-background-color &,
		.has-background.has-yellow-background-color & {
			border-color: currentColor;
			color: currentColor;

			&:hover {
				background-color: $form--border-color;
				border-color: $form--border-color;
				color: $global--color-white;

				.is-dark-theme & {
					border-color: $button--color-text-hover;
					background-color: $button--color-text-hover;
					color: $button--color-background;
				}
			}
		}
	}

	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			background-color: $global--color-white;
			border: $form--border-width solid $form--border-color;
			border-radius: $form--border-radius;

			.wp-block-search__input {
				margin-right: 0;

				&:focus {
					outline: 2px dotted $form--border-color;
					outline-offset: -5px;

					.is-dark-theme & {
						outline-color: currentColor;
					}
				}
			}
		}

		&.wp-block-search__text-button {

			button.wp-block-search__button {
				// Match the text button size with the icon button.
				padding: $button--padding-vertical $button--padding-horizontal;
			}
		}

		button.wp-block-search__button {

			.has-background.has-gray-background-color &,
			.has-background.has-dark-gray-background-color &,
			.has-background.has-black-background-color & {
				border-color: $button--color-background;
				color: $button--color-background;

				&:hover {
					color: $global--color-white;
				}

				.is-dark-theme & {
					border-color: $button--color-text-hover;
					color: $button--color-text-hover;

					&:hover {
						color: $global--color-white;
					}
				}
			}

			.is-dark-theme & {
				border-color: $button--color-text-hover;
				color: $button--color-text-hover;

				&:hover {
					border-color: $button--color-text-hover;
					background-color: $button--color-text-hover;
					color: $button--color-background;
				}
			}
		}
	}
}

.wp-block-search__button {
	box-shadow: none;
}
