.wp-block-quote {
	border-left: none;

	&:before {
		content: "\201C";
		font-size: $global--font-size-md;
		line-height: $global--line-height-body;
		left: 8px;
	}

	.wp-block-quote__citation,
	cite,
	footer {

		.has-background &,
		[class*="background-color"] &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			color: currentColor;
		}
	}

	/**
	 * Block Options
	 */
	&.has-text-align-right {
		margin: $global--spacing-vertical $global--spacing-horizontal $global--spacing-vertical auto;
		padding-right: 0;
		border-right: none;

		// Hide the left aligned quote.
		&:before {
			display: none;
		}

		// Align the quote left of the text.
		p:before {
			content: "\201D";
			font-size: $global--font-size-md;
			font-weight: normal;
			line-height: $global--line-height-body;
			margin-right: 5px;
		}
	}

	&.has-text-align-center {
		margin: $global--spacing-vertical auto;

		&:before {
			display: none;
		}
	}

	&.is-large,
	&.is-style-large {
		padding-left: 0;
		padding-right: 0;

		/* Resetting margins to match _block-container.scss */
		margin-top: $global--spacing-vertical;
		margin-bottom: $global--spacing-vertical;

		p {
			font-size: $global--font-size-xl;
			font-style: normal;
			line-height: 1.35;
		}

		&:before {
			font-size: $global--font-size-xl;
			line-height: 1.35;
			left: calc(-1 * #{$global--spacing-horizontal});
		}

		&.has-text-align-right {

			// Hide the left aligned quote.
			&:before {
				display: none;
			}

			// Align the quote left of the text.
			p:before {
				content: "\201D";
				font-size: $global--font-size-xl;
				font-weight: normal;
				line-height: 1.35;
				margin-right: 10px;
			}
		}

		.wp-block-quote__citation,
		cite,
		footer {
			color: $global--color-primary;
			font-size: $global--font-size-sm;
		}

		@include media(mobile-only) {
			padding-left: $global--spacing-horizontal;

			&:before {
				left: 0;
			}

			&.has-text-align-right {
				padding-left: 0;
				padding-right: $global--spacing-horizontal;

				&:before {
					right: 0;
				}
			}

			&.has-text-align-center {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	@include media(mobile-only) {

		&.has-text-align-right {
			padding-left: 0;
			padding-right: calc(0.5 * #{$global--spacing-horizontal});

			&:before {
				right: 0;
			}
		}

		&.has-text-align-center {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
