// Gutenberg text color options
@each $colorName, $colorValue in $themeColor {

	.has-#{"" + $colorName}-color[class] {
		color: $colorValue;
	}

	.has-#{"" + $colorName}-background-color[class] {
		background-color: $colorValue;
	}
}


// Gutenberg background-color options
.has-background {

	a,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: currentColor;
	}
}

// :not(.has-text-color) {

// 	&.has-black-background-color[class],
// 	&.has-gray-background-color[class],
// 	&.has-dark-gray-background-color[class] {
// 		color: $global--color-white;
// 	}

// 	&.has-green-background-color[class],
// 	&.has-blue-background-color[class],
// 	&.has-purple-background-color[class],
// 	&.has-red-background-color[class],
// 	&.has-orange-background-color[class],
// 	&.has-yellow-background-color[class],
// 	&.has-white-background-color[class] {
// 		color: $global--color-gray-alt;
// 	}
// }
