hr {
	border-style: none;
	border-bottom: 1px solid $global--color-border;
	clear: both;
	margin-left: auto;
	margin-right: auto;

	&.wp-block-separator {
		border-bottom: 1px solid $global--color-border;
		opacity: 1;

		&:not(.is-style-dots):not(.alignwide) {
			max-width: var(--responsive--aligndefault-width);
		}

		&:not(.is-style-dots) {

			&.alignwide {
				max-width: var(--responsive--alignwide-width);
			}

			&.alignfull {
				max-width: var(--responsive--alignfull-width);
			}
		}

		/**
		 * Block Options
		 */
		&.is-style-twentytwentyone-separator-thick {
			border-bottom-width: calc(3 * 1px);
		}

		&.is-style-dots {

			&.has-background,
			&.has-text-color {
				background-color: transparent !important;

				&:before {
					color: currentColor !important;
				}
			}

			&:before {
				color: $global--color-border;
				font-size: $global--font-size-xl;
				letter-spacing: $global--font-size-sm;
				padding-left: $global--font-size-sm;
			}
		}

		.has-background &,
		[class*="background-color"] &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			border-color: currentColor;
		}
	}
}
