ul,
ol {
	font-family: $global--font-secondary;
	margin: $global--spacing-vertical 0;
	padding-left: calc(2 * #{$global--spacing-horizontal});

	// Utility classes
	&.aligncenter {
		list-style-position: inside;
		padding: 0;
		text-align: center;
	}

	&.alignright {
		list-style-position: inside;
		padding: 0;
		text-align: right;
	}
}

li {

	> ul,
	> ol {
		margin: 0;
	}
}

dt {
	font-family: $global--font-primary;
	font-weight: bold;
}
